//This is a simple configuration file for tensorflow serving
model_config_list {
  config {
    name: 'nothotdog', // request must reference this model name
    base_path: '/tmp',  // tensorflow serving maps the model name to this directory
    model_platform: "tensorflow",
    // setting model version policy is required to serve multiple versions at the same time
    // default behavior is to only allow a single version
    model_version_policy: {
        all: {}
    }
  }
}
